@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #2d333a;
  width: 100vh;
  color: rgb(232, 230, 227);
}

/* MAIN CONTAINER START */

.main-container {
  background-color: rgb(71, 70, 80);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.main-container.show-nav {
  transform: rotate(-20deg);
}

.main-container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.1s;
}

/* MAIN CONTAINER END */

/* CIRCLE CONTAINER START */
.circle-container {
  position: fixed;
  top: -6.25em;
  left: -6.25em;
}

.circle {
  background-color: rgba(42, 22, 34);
  height: 11em;
  width: 11em;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.main-container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 48%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 24px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 63%;
}

.circle button#close {
  top: 65%;
  transform: rotate(90deg);
  transform-origin: top left;
}

/* CIRCLE CONTAINER END */

/* HEADER START */
#header-container {
  display: flex;
  border-bottom: 2px solid #fff;
}
/* ICONS START */

#header-container::before {
  content: '\f13b\00a0\f38b\00a0\f3b9\00a0\f41b\00a0\f419';
  font-family: 'Font Awesome 6 Brands';
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  opacity: 0.2;
  z-index: 0;
}

/* ICONS END */

.header {
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Roboto';
}

/* HEADER END */

/* MAIN CONTENT START */
.content-container {
  display: flex;
  flex-direction: column-reverse;
  height: 85vh;
}

.side-container {
  width: 100%;
}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-container {
  display: none;
}

/* ABOUT START */

.about-container {
  padding: 2em 1em;
}

.about-container p {
  font-size: 0.9em;
}

/* ABOUT END */

/* CONTACT START */

.contact-container {
  padding: 2em 0em;
}

.contact-container p {
  font-size: 0.9em;
}

/* FORM START */

form {
  padding: 1em 0;
  width: 100%;
}

.form-control {
  position: relative;
  margin: 1.25em 0 2.5em;
  width: 100%;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  width: 100%;
  padding: 0.6rem 0;
  font-size: 1.125em;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 0.9375em;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 1.125em;
  min-width: 0.3125em;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

textarea {
  background-color: #eee;
  border: none;
  border-radius: 10px;
  resize: vertical;
  height: 8em;
  width: 100%;
}

/* FORM END */

/* MODAL START */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 52%;
  bottom: 50%;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #747272;
  padding: 1rem;
  margin: 40% auto;
  border: 1px solid #888;
  border-radius: 2rem;
  height: 50%;
  color: #000;
  width: 70%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL FORM END */

.btn {
  cursor: pointer;
  width: 100%;
  background: lightblue;
  padding: 0.9375em;
  font-family: inherit;
  font-size: 1em;
  border: 0;
  border-radius: 0.4em;
  color: #000;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

/* CONTACT END */

/* MAIN CONTENT END */

/* PROJECTS START */

/* SLIDESHOW START */

.projects-container {
  max-width: 95%;
  position: relative;
  margin: auto;
}

.panel-container {
  display: none;
}

.slides {
  display: none;
}

.slide-img {
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* SLIDESHOW END */

/* PROJECTS END */

/* NAV START */

nav {
  position: fixed;
  bottom: 62.5em;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 1.875em;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 2.5em 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 1.25em;
  margin-right: 0.625em;
}

nav ul li + li {
  margin-left: 0.9375em;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 1.875em;
  transform: translateX(-200%);
}

nav ul li + li + li + li {
  margin-left: 2.8125em;
  transform: translateX(-250%);
}

nav a {
  text-decoration: none;
  color: #eee;
  font-size: 1.2em;
}

/* NAV END */
/* PHONE LANDSCAPE START TODO*/

@media only screen and (min-width: 480px) and (max-device-width: 850px) and (orientation: landscape) {
}

/* PHONE LANDSCAPE END 
---------------------------------------
  IPAD START */
@media (min-width: 768px) {
  .header {
    width: 100%;
    text-align: center;
  }

  .header h1 {
    font-size: 1.4rem;
  }

  /* NAV START */

  nav {
    bottom: 28.5em;
  }

  nav ul li i {
    font-size: 1.5em;
  }

  nav a {
    font-size: 1.5em;
  }
}
/* IPAD END 
----------------------------------------
IPAD LANDSCAPE START TODO*/
@media only screen and (min-width: 900px) and (max-device-width: 1050px) and (orientation: landscape) {

}
/* IPAD LANDSCAPE END 
----------------------------------------
LAPTOP START */
@media (min-width: 1279px) {
.content-container {
  display: flex;
  flex-direction: row;
  height: 85vh;
}

.circle {
  height: 12.5em;
  width: 12.5em;
}

.circle button {
  top: 50%;
  left: 50%;
  font-size: 26px;
}

.circle button#open {
  left: 65%;
}

.info-container {
  flex-direction: column-reverse;
}

.form-container {
  display: block;
}

/* ABOUT START */

.about-container {
  border-top: 1px solid #eee;
  padding: 0.25em 0em;
}

.about-container p {
  font-size: 0.9em;
}

/* ABOUT END */

/* CONTACT START */

.contact-container {
  border-top: 1px solid #eee;
  padding: 0.25em 0em;
}

.contact-container p {
  font-size: 0.9em;

}

.form-control {
  position: relative;
  margin: .5em 0 .5em;
  width: 100%;
}

.form-control input {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.125em;
}

textarea {
  height: 8em;
  width: 100%;
}

.slides-container, #slideshow-dot {
  display: none;
}

.panel-container {
    display: flex;
    width: 78vw;
}

.panel {
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #ffff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;

}

  nav {
    bottom: 0.5em;
  }

  nav ul li i {
  font-size: 1.2em;
}

nav ul li + li + li + li {
display: none;
}

nav a {
  font-size: 1.2em;
}

}
/* LAPTOP END 
----------------------------------------
DESKTOP START */
@media (min-width: 1536px) {

  .about-container p, .contact-container p {
    font-size: 1rem;
  }

  nav {
    bottom: 0.5em;
  }

  nav ul li i {
  font-size: 1.5em;
}

nav a {
  font-size: 1.5em;
}

.form-control {
  margin: 1.5em 0 .5em;
}

}
/* DESKTOP END 
